body
{
}

.container {
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    gap: 10px;
}

.rowContainer {
    flex-direction: row;
    display: flex;
}

.columnContainer {
    flex-direction: column;
    display: flex;
}

.horizontalContainer {
    width: 600px;
    height:300px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.verticalContainer {
    width: 200px;
    height: 600px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.verticalContainer {
    width: 200px;
    height: 600px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contentBox {
    background: #e6e6e6;
    align-items: center;
    padding: 2px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.contentBox attribute{
    border: 1px solid #ccc;
}
.contentBox abilitity {
}
.contentBox basicValue {
}